.g-rect-100-100 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 1px grey;
}

.g-rect-200-200 {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: solid 1px grey;
}